.ggpbi-visual {
  width: 100%;
  height: 100%;
}

.ggpbi-axis-x text,
.ggpbi-axis-y text {
  font-size: 11px;
  fill: #666;
}

.ggpbi-axis-x line,
.ggpbi-axis-x path,
.ggpbi-axis-y line,
.ggpbi-axis-y path {
  stroke: #ccc;
}
